<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>

		<!-- Publish into AG/AirlogGenerator -->
		<PublishUrl>bin\Release\publish\Linux\AG\AirlogGenerator</PublishUrl>

		<PublishProvider>FileSystem</PublishProvider>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<_TargetId>Folder</_TargetId>

		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>

		<!-- Framework-dependent publish -->
		<TargetFramework>net8.0</TargetFramework>
		<SelfContained>false</SelfContained>
		<RuntimeIdentifier></RuntimeIdentifier>
		<UseAppHost>false</UseAppHost>

		<PublishSingleFile>false</PublishSingleFile>
		<PublishTrimmed>false</PublishTrimmed>
	</PropertyGroup>

	<ItemGroup>
		<Content Include="docker-compose.yml" />
		<Content Include="ag-install.sh" />
		<Content Include="Dockerfile" />

		<Content Update="docker-compose.yml">
			<CopyToPublishDirectory>Always</CopyToPublishDirectory>
			<TargetPath>..\docker-compose.yml</TargetPath>
		</Content>

		<Content Update="ag-install.sh">
			<CopyToPublishDirectory>Always</CopyToPublishDirectory>
			<TargetPath>..\ag-install.sh</TargetPath>
		</Content>

		<Content Update="Dockerfile">
			<CopyToPublishDirectory>Always</CopyToPublishDirectory>
		</Content>

		<Content Update="CONFIG\**\*.*">
			<CopyToPublishDirectory>Always</CopyToPublishDirectory>
		</Content>
	</ItemGroup>
</Project>